body {
    font-family: myFirstFont;
    background-color: #230b66;
}

.header{
    padding: 20px;
    text-align: center;
    background-color: #510087;
    color: #ffd500;
}
.header img{
    width: 150px;
    float:left;
}
.header h1{
    font-size: 40px;
    
}

.navbar a.right{
    float: right;
}
/*Navigation Bar*/
.navbar{
    overflow: hidden;
    background-color: #38097a;
}
.navbar a{
    float: left;
    display: block;
    color: white;
    text-align:center;
    padding: 14px 30px;
    text-decoration: none;
}
.navbar a:hover{
    background-color: #ffd700;
    color: black;
}
/*Content*/
*{
    box-sizing: border-box;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.side{
    flex: 30%;
    background-color: #230b66;
    padding: 20px;
    border-style: solid;
    border-width: 2px;
    border-color:#ffd700;
}
.side h1{
    text-align:center;
    text-decoration:underline;
    color: white;   
}
.side ul{
    font-size: 20px;
    color: white;
}
.main{
    flex: 70%;
    background-color: #230b66;
    padding: 20px;
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color:#e4d00a;
}
.main img{
    width:500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*Adjust to different sized screens*/
@media screen and (max-width: 700px) {
    .row {
      flex-direction: column;
    }
  }
@media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  }  
/*footer*/
.footer{
    padding:20px;
    text-align:center;
    background: #170742;
    color:aliceblue;
    width:100%;
}
.container {
    display: flex;
}
.container > div {
    flex: 1; /*grow*/
}
body, html{
    height:100%
}
.hero-image{
    background-image: linear-gradient(rgba(26, 26, 115, 0.5), rgba(26, 26, 115, 0.5)), url("family.jpg");
    height: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
@font-face{
    font-family: myFirstFont;
    src: url('Alkatra-VariableFont_wght.ttf')

}
.hero-text {
    text-align: center;
    font-size: 35px;
    font-family: myFirstFont;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.container div a{
    color:aliceblue;
}