body {
    font-family: myFirstFont;
    background-color: #230b66;
    margin: 0px;
}
.navbar a.right{
    float: right;
}
@font-face{
    font-family: myFirstFont;
    src: url('Alkatra-VariableFont_wght.ttf')

}
/*Navigation Bar*/
.navbar{
    overflow: hidden;
    background-color: #38097a;
    
}

.logo-image{
    display: block;
    overflow: visible;
    float: left;
    padding-top: 10px;
    padding-left: 10px;
}
.buttons a{
    float: left;
    display: block;
    color: white;
    text-align:center;
    padding: 30px 25px;
    margin-left: 20px;
    text-decoration: none;
    font-size: 30px;
}
.buttons a:hover{
    background-color: #ffd700;
    color: black;
}
/*heading*/
h1{
    color:white;
    text-align: center;
}

.row
{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
.column 
{
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}
  
.column img 
{
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}
@media screen and (max-width: 800px) 
{
    .column 
    {
      flex: 50%;
      max-width: 50%;
    }
}
@media screen and (max-width: 600px) 
{
    .column {
      flex: 100%;
      max-width: 100%;
    }
}