body {
    font-family: myFirstFont;
    background-color: #8752d1;
    margin: 0px;
}
@font-face{
    font-family: myFirstFont;
    src: url('/static/Alkatra-VariableFont_wght.ttf')

}
.navbar a.right{
    float: right;
}
/*Navigation Bar*/
.navbar{
    overflow: hidden;
    position: sticky;
    top:0;
    z-index: 1;
    background-color: #8d60cd;
    
}

.logo-image{
    display: block;
    overflow: visible;
    float: left;
    padding-top: 10px;
    padding-left: 10px;
}
.buttons a{
    float: left;
    display: block;
    color: white;
    text-align:center;
    padding: 20px 15px;
    margin-left: 20px;
    text-decoration: none;
    font-size: 30px;
}
.buttons a:hover{
    opacity: 0.6;
    transition: 0.3s;
    background-color: #8958cd;
    color: #480554;
}
/*Adjust to different sized screens*/
@media screen and (max-width: 700px) {
    .row {
      flex-direction: column;
    }
  }
@media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  } 
/*Calendar*/
.event-container{
    color:white;
    font-family:'Courier New', Courier, monospace;
    max-width:800px;
    margin:0 auto;
}
.year{
    font-size:40px;
    color:orange;
    text-align:center;
    font-weight:bold;
    border-bottom: 1px solid white;
}
.event{
    box-shadow:0 4px 16px -8px rgba(0, 0, 0, 0.2);
    display: flex;
    border-radius: 8px;
    margin: 32px 0;
}
.event-left{
    background-color: rgb(208, 208, 72);
    color:black;
    min-width:180px;
    display: flex;
    align-items:center;
    justify-content: center;
    padding: 8px 20px;
    font-weight:bold;
    text-align: center;
    border-radius: 8px 0 0 8px;
}
.date{
    font-size: 56px;
}
.month{
    font-size: 16px;
    font-weight: normal;
}
.event-right{
    display: flex;
    flex-direction:column;
    justify-content:center;
    padding: 0 24px;
    background-color: #6839aa;
    min-width:540px;
}
.event-title{
    font-size:24px;
    margin: 24px 0 10px 0;
    text-transform:uppercase;
}
.event-time{
    background-color:#995daf;
    border-radius: 8px;
    max-width: 80px;
    padding: 8px;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    display: flex;
}
@media (max-width:550px){
    .event{
        flex-direction: column;
    }
    .event-left{
        padding: 0;
        border-radius: 8px;
    }
    .date{
        display:inline-block;
        font-size: 24px;
    }
    .month{
        display:inline-block;
        font-size: 24px;
    }
    .event-date{
        padding: 10px 0;
    }
}

/*footer*/
.footer{
    clear: both;
    padding:20px;
    text-align:center;
    background: #170742;
    color:aliceblue;
    width:100%;
}

.containerF {
    display: flex;
}
.containerF > div {
    flex: 1; /*grow*/
}
.containerF div a{
    color:aliceblue;
    text-decoration: none;
    font-size: 20px;
}