/* Main */
body, html
{
    height:100%;
    width: 100%;
}
body 
{
    font-family: myFirstFont;
    background-color: #8d60cd;
    margin: 0px;
}
@font-face{
    font-family: myFirstFont;
    src: url('/static/Alkatra-VariableFont_wght.ttf')

}

/*Navigation Bar*/
.navbar a.right
{
    float: right;
}

.navbar
{
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #8d60cd;
}

.logo-image
{
    display: block;
    overflow: visible;
    float: left;
    padding-top: 10px;
    padding-left: 10px;
}
.buttons a{
    float: left;
    display: block;
    color: white;
    text-align:center;
    padding: 20px 15px;
    margin-left: 20px;
    text-decoration: none;
    font-size: 30px;
}
.buttons a:hover{
    opacity: 0.6;
    transition: 0.3s;
    background-color: #8958cd;
    color: #480554;
}

/*Content*/

/*Adjust to different sized screens*/
@media screen and (max-width: 700px) {
    .row {
      flex-direction: column;
    }
  }
@media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  } 
  

.content
{
    display: flex;
    flex-direction: column;
}
.section
{
    display: flex;
    justify-content:space-between;
    margin-bottom: 20px;
}
.text
{
    flex: 1;
    color: white;
    text-align: center;
}
.image{
    flex: 1;
}
#right-pic{
    max-width: 600px;
}
#left-pic{
    max-width: 600px;
    margin-left: 30px;
}
.reverse {
    flex-direction: row-reverse;
}
#News
{
    text-align: center;
    color: white;
}
/*footer*/
.footer{
    clear: both;
    padding:20px;
    text-align:center;
    background: #170742;
    color:aliceblue;
    width:100%;
}

.container {
    display: flex;
}
.container > div {
    flex: 1; /*grow*/
}


.hero-image{
    background-image:  url("/resources/images/IMG_8706.jpg");
    height: 100%;
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    -webkit-text-stroke-width:2px;
    text-shadow:2px 2px 4px #000000;
    font-size: 35px;
    font-family: 'myFirstFont';
    letter-spacing:5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.container div a{
    color:aliceblue;
    text-decoration: none;
    font-size: 20px;
}
.twitter-timeline
{
    width: 80%;
    padding-left: 120px;
}

